
.spanindi{
  width: 50px;
  float: right;
  margin: 1px 10px;
  text-align: right;
  font-size: 10px;
  color: grey;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.closeicn{
  float: right !important;
  font-size: medium !important;
  cursor: pointer !important;
  padding: 0px 0px 10px 50% !important;
}

/* #wrapper path {
  stroke: #000000;
  stroke-width: 1px;
} */
#ui-id-1-menu{
  max-height: 300px;

}
#closeicn{
    z-index: 2;
    position: absolute;display:none;
    cursor: pointer;
}
.ui-selectmenu-button{
  max-width: 170px;
}
.select-div{
  margin-top: 8px;
  font-size: 13px;
  display: block;
  z-index: 1;
}
.listview{
  padding-top: 6px;
  padding-left: 14px;
  min-height: 28px;
  width: 100%;
}
.selectview{
  padding-top: 6px;
  padding-left: 14px;
  min-height: 28px;
}
#ui-id-1-button{
  display:none;
}
#sortable{
    display: block;
    padding-left: 0;
    position: fixed;
    max-width: 280px;
    height: 85%;
    overflow-y: auto;
}
#sortable li{
  margin-top: 5px;
  min-width: 100% !important;
  font-size: 12px;
  text-align: left;
}
/* code for loading animation */
/*  */
.load-wrapp {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

  .load-wrapp p {
      padding: 0 0 20px;
  }

  .load-wrapp:last-child {
      margin-right: 0;
  }

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #4b9cdb;
}

.ring-1 {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  padding: 10px;
  border: 7px dashed #4b9cdb;
  border-radius: 100%;
}

.ring-2 {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border: 4px solid #4b9cdb;
  border-radius: 100%;
}

.ball-holder {
  position: absolute;
  width: 12px;
  height: 45px;
  left: 17px;
  top: 0px;
}

.ball {
  position: absolute;
  top: -11px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #4282B3;
}

.letter-holder {
  padding: 16px;
}

.letter {
  float: left;
  font-size: 14px;
  color: #777;
}

.square {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background-color: #4b9cdb;
}

.spinner {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}

.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #4b9cdb;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}
.load-3 {

  position: absolute;
}
/* .bar {
  float: left;
  width: 15px;
  height: 6px;
  border-radius: 2px;
  background-color: #4b9cdb;
} */

/* =Animate the stuff
------------------------ */
.load-1 .line:nth-last-child(1) {
  animation: loadingA 1.5s 1s infinite;
}

.load-1 .line:nth-last-child(2) {
  animation: loadingA 1.5s .5s infinite;
}

.load-1 .line:nth-last-child(3) {
  animation: loadingA 1.5s 0s infinite;
}

.load-2 .line:nth-last-child(1) {
  animation: loadingB 1.5s 1s infinite;
}

.load-2 .line:nth-last-child(2) {
  animation: loadingB 1.5s .5s infinite;
}

.load-2 .line:nth-last-child(3) {
  animation: loadingB 1.5s 0s infinite;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC .6s .1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
  animation: loadingC .6s .2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
  animation: loadingC .6s .3s linear infinite;
}

.load-4 .ring-1 {
  animation: loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;
}

.load-5 .ball-holder {
  animation: loadingE 1.3s linear infinite;
}

.load-6 .letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

.l-1 {
  animation-delay: .48s;
}

.l-2 {
  animation-delay: .6s;
}

.l-3 {
  animation-delay: .72s;
}

.l-4 {
  animation-delay: .84s;
}

.l-5 {
  animation-delay: .96s;
}

.l-6 {
  animation-delay: 1.08s;
}

.l-7 {
  animation-delay: 1.2s;
}

.l-8 {
  animation-delay: 1.32s;
}

.l-9 {
  animation-delay: 1.44s;
}

.l-10 {
  animation-delay: 1.56s;
}

.load-7 .square {
  animation: loadingG 1.5s cubic-bezier(.17,.37,.43,.67) infinite;
}

.load-8 .line {
  animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;
}

.load-9 .spinner {
  animation: loadingI 2s linear infinite;
}

.load-9 .bubble-1, .load-9 .bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}

.load-9 .bubble-2 {
  animation-delay: -1.0s;
}

.load-10 .bar {
  animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite;
}

@keyframes loadingA {
  0 {
      height: 15px;
  }

  50% {
      height: 35px;
  }

  100% {
      height: 15px;
  }
}

@keyframes loadingB {
  0 {
      width: 15px;
  }

  50% {
      width: 35px;
  }

  100% {
      width: 15px;
  }
}

@keyframes loadingC {
  0 {
      transform: translate(0,0);
  }

  50% {
      transform: translate(0,15px);
  }

  100% {
      transform: translate(0,0);
  }
}

@keyframes loadingD {
  0 {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(180deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes loadingE {
  0 {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes loadingF {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes loadingG {
  0% {
      transform: translate(0,0) rotate(0deg);
  }

  50% {
      transform: translate(70px,0) rotate(360deg);
  }

  100% {
      transform: translate(0,0) rotate(0deg);
  }
}

@keyframes loadingH {
  0% {
      width: 15px;
  }

  50% {
      width: 35px;
      padding: 4px;
  }

  100% {
      width: 15px;
  }
}

@keyframes loadingI {
  100% {
      transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
      transform: scale(0.0);
  }

  50% {
      transform: scale(1.0);
  }
}

@keyframes loadingJ {
  0%,100% {
      transform: translate(0,0);
  }

  50% {
      transform: translate(80px,0);
      background-color: #f5634a;
      width: 25px;
  }
}
i.icon {
  display: inline-block;
  position: relative;
  opacity: 1;
  margin: 0 .25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.indicate-ico{


  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0 !important;
  width: 1em !important;
  height: 2em !important;
  margin-right: 0px !important;
  font-size: 0.60em !important;
  float: right !important;
}
.indicate-ico:before {
  content: '' !important;
}

.card-title {

  text-align: center;
  color: var(--menu-font-color) ;
  font-weight: 600;
  font-size: 0.9rem;
   background-color:var(--uploadbtn_color);
    width: 100%;
    border-top-left-radius: 24%;
    border-top-right-radius: 24%;

}
.threesumcolmn .card-title{

  background-color:var(--Card_Title_background-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 12px;
}

.card-container ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.card-container ul li {
  list-style: none;
  flex: 0 0 33.3333%;
}
.box {
  background:#ffffff;
  border-radius: 0.3rem;

}
.card {
  background:var(--Card_background-color);
  border: 0px;
  box-shadow: 0 0 20px 0 rgba(30, 76, 73, 0.20);
  border-radius: 0.3rem;

}
.parcoords .card {
   padding: 0;
   transition: 1s;
   transform-style: preserve-3d;
   color: #000000;

}

.flipper.flip{

  transform: rotateY(180deg);
  border-bottom: unset;
}
.flip .card-title{
  transform: rotateY(180deg);
  z-index: 1;
}
/* flip the pane when hovered */

.front,
.back {
  width: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  color: var(--Header_Font-color);
  z-index: 2;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);

}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  height: 100%;
}
.goback {
  position: absolute;
  bottom: 0px;
  padding-left: 20px;
  left: 0px;
  text-decoration: underline;
  cursor: pointer;
}

.dc-chart g.axis text{
  font-weight: 300 !important;
  font-size: 9px !important;
}
.dc-chart .x-axis-label {
  font-weight: 400 !important;
  font-size: 11px !important;
  letter-spacing: 0.8px;
}
.dc-chart .y-axis-label{
  font-weight: 400 !important;
    font-size: 11px !important;
    letter-spacing: 0.8px;
}
.dc-chart{
  text-align: center !important;
    float: none !important;
    width: 94%;
}
.leftsidediv{
  width: 230px;
  z-index: 50;
    position: absolute;
    margin: -0.875em 0em !important ;
}
.leftsidediv .card-block{
  padding: 0px 8px 4px 8px;
}
.card-block .fa-angle-left{
  position: absolute;
  right: 101%;
  top: 40%;
}
.card-block .fa-angle-right{
  position: absolute;
   left: 101%;
    top: 40%;
}
.card-block .fas{
  font-size: 1.7em;
  z-index: 1;
  cursor: pointer;
  color: var(--Arrow_Color);
}

.ui.cards>.card {

  margin: 0;

}
.leftsidediv {
  width:21.33% !important ;
}
.ui .btn{
  margin: 6px 0px 8px 0px;
}

.ui.labeled.input .label{
  width: 10em;
  text-align: left;
  font-size: 0.85em;
}
.ui.selection.dropdown{
  min-width: 13em;
  font-size: 0.9em;
}
.ui.input{
  width: 13em;
}
#pipelengthtext{
  font-size: 0.7rem !important;
  font-weight: 500 !important;
  padding: 0 0.4rem;
  border: 1px solid var(--uploadbtn_border_color);
  color:var(--btn-font-color);
  background: var(--Card_background-color);
  height: 32px;
  margin: 0px;
}
.ui.labeled.input>.label:not(.corner) {
  padding-top: .98571429em;
  padding-bottom: .78571429em;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 10px;
}
.ui.progress.success .bar {
  background-color: var(--bar-color) !important;
}

.ui .bar {
  background-color:var(--bar-color) !important;
}
.btn-outline-primary {

  color:var(--btn-font-color);
    width: 100%;

    border-color:var(--uploadbtn_border_color);
}
.btn-outline-primary:hover {
  color:var(--btn-font_hover-color);
  /*background-color:#44acb9;*/
  background-color: var(--hover-color-new);
  border-color: var(--uploadbtn_border_color);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--uploadbtn_border_color) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--uploadbtn_border_color) !important;

}
.btn-outline-primary:hover .spanindi {
  color:var(--btn-font_hover-color);
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color:var(--btn-font_hover-color);
  background-color:var(--uploadbtn_color);
  border-color:var(--uploadbtn_border_color);

}
.btn-outline-primary:not(:disabled):not(.disabled).active .spanindi, .btn-outline-primary:not(:disabled):not(.disabled):active .spanindi, .show>.btn-outline-primary.dropdown-toggle .spanindi {
  color:var(--btn-font_hover-color);

}
.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 206, 220, 0.5);
}

.btn-primary {
  color: var(--btn_Color_Load);
  border-color: var(--uploadbtn_border_color);
  background-color: #ffffff;
}
.btn-primary:hover {
  color:#ffffff;
  background-color:var(--uploadbtn_color_hover);
  border-color: var(--uploadbtn_border_color);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color:#ffffff;
  background-color:var(--uploadbtn_color_hover);
  border-color: var(--uploadbtn_border_color);

}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 206, 220, 0.5);
}
.input-group-prepend {

  width: 100%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-left: 0;
    padding-right: 0;
}
.mb-3, .my-3 {
  margin-bottom: 0.4rem!important;
}
.threesumcolmn{
  margin-right: 0;
  margin-bottom: 20px;
}
.parcoords .col-sm{
  padding-left: 25px;
    padding-right: 20px;
}
.l-main .content{
  margin-bottom: 0px;
}
.container-fluid{
  padding: 15px;!important;
}
.modal-body{
  text-align: center;
}
.glb{
  margin-left: 3px !IMPORTANT;
}
#metrics{
  margin-bottom: 0px;
}
.ndchart{
width: 100%;
}
@media (min-width: 1368px){
.col-md-3 {
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
    max-width: 17%;
    padding-left: 0;
    padding-right: 0;

}
.ndchart{
  width: 50%;
  }
.col-md-9 {
  -ms-flex: 0 0 82%;
  flex: 0 0 82%;
  max-width: 82%;
  padding-left: 14px;
  padding-right: 14px;

}
}
@media (min-width: 1000px) and (max-width: 1367px){
  .col-sm {
  flex: 1 50%;
  max-width: 100%;
  flex-basis: 1;
}
.col-md-9{
  padding-right: 15px;
 padding-left: 20px;
}
}
@media (min-width: 700px) and (max-width: 999px){
  .parcoords .col-sm {
    padding-left: 15px;

}
.col-md-3 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-9 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-sm {

  flex: 1 50%;
  max-width: 100%;
}
.col-md-9{
  padding-left: 0px;
  padding-top: 20px;
}
}

@media (max-width: 700px){

  .parcoords .col-sm {
    padding-left: 15px;
    flex-basis: auto;

}
.col-md-9{
  padding-left: 0px;
  padding-top: 20px;
}
.spc {
  /*padding-left: 75px;*/
}

}

/* data explore style code starts here */
#analysis > svg, #analysis > canvas {
  /*font: 14px sans-serif;*/
  position: absolute;
}
#analysis > canvas {
  pointer-events: none;
}
#analysis rect.background {
  fill: transparent;
}
#analysis rect.background:hover {
  fill: rgba(120,120,120,0.2);
}
#analysis .resize rect {
  fill: rgba(0,0,0,0.1);
}
#analysis rect.extent {
  fill: rgba(255,255,255,0.25);
  stroke: rgba(0,0,0,0.6);
}
#analysis .highlight {
  fill: #FF0000;
  stroke: #FF0000;
}
#analysis .axis line, #analysis .axis path {
  fill: none;
  stroke:  var(--Paralle_Font-color);
  shape-rendering:geometricprecision;
}
#analysis canvas {
  opacity: 1;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
#analysis canvas.faded {
  opacity: 0.25;
}
.attrtext{
cursor: pointer;

}

/* parallel charts */

.closeicn{
  float: right !important;
  font-size: medium !important;
  cursor: pointer !important;
  padding: 0px 0px 20px 50% !important;
}

/* issue# 32 color of ticks   */
#divsvg g.axis text {

  font-style: normal !important;
  line-height: 1.28571429em !important;
  font-weight: 500 ;
  font-size: 10.5px ;
  fill: #858585;

}

#divsvg g.axis text.countclass {


  font-weight: 500 !important;
  font-size: 9px !important;


}
#tooltip {
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  letter-spacing: 1px;
  color:var(--btn-font-color);
}
.btn-loader{
  width: 260px;
  position: relative;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  top: 66%;
  left: 6.5%;
}

/* issue 8  */
stop.begin {
   stop-color:var(--bar_gr_begin-color);
}
stop.end {

   stop-color: var(--bar_gr_end-color);
  }

  .datamapping{
    background-color: #fff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555555;
    display: block;
    height: 35px;
    font-size: 0.7rem;
    font-weight: 500;
    overflow: hidden;
    line-height: 35px;
    padding: 0 0 0 6px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
  }
  #spatial{
    /*height: calc(100vh - 56px);*/
    height: calc(100vh - 36px);
    width: 100%;
  }
  #spatial iframe{
    height: 100%;
    border-radius: 5px;
    width: 100%;

  }

  .modal-content {

    background-color: var(--Modal_Color);
    color: var(--Modal_Font_color);
}
.ui.inverted.dimmer {
  background-color: var(--Loader_Background);
  z-index: 99999999;
  position: fixed;
}

.u-list .chosen-drop{
  top: auto;
  bottom: 100%;
}
.u-list .chosen-search{
  display: none;

}
.u-list .chosen-single{
  border: 0 !important;
}
.u-list .chosen-container {
  left: 220px;
  width: 90% !Important;
  opacity: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.sidebar-is-expanded .c-menu>.u-list .chosen-container {

  left: 10px;
  opacity: 1;

}
iframe[seamless] {
  border: none;
}
.border-btns{
  border: 1px solid var(--uploadbtn_border_color) !important;
  background-color: var(--uploadbtn_border_color);
  color: var(--new-light-gray) !important;

  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.border-btns:hover {
  background-color: var(--uploadbtn_border_color) !important;
}

#optionmodal .btn{
  font-size: 1rem !IMPORTANT;
}

#breakdb  .threesumcolmn{
  margin-right: 0;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 10px;
}
#breakdb  .threesumcolmn .card-title{
  padding: 6px 16px;
}
#breakdb  .threesumcolmn .card{
  border: 1px solid #E8E9E9;
}
/* .limitwidth{
  max-width: 33.33%;
} */

.chartlineheight , #breakdb .threesumcolmn .diagrm{
  min-height: 250px !important;
  height: calc(calc(100vh - 360px) / 2) !important;
}
/*

@media screen and (min-height:1201),screen and (max-height: 1600px) {
 #breakdb .threesumcolmn .diagrm{
    height: 500px;
  }
  #riskdb .threesumcolmn .diagrm{
    height: 250px;
  }
}
@media screen and (min-height:1001),screen and (max-height: 1200px) {
  #breakdb .threesumcolmn .diagrm{
    height: 380px;
  }
  #riskdb .threesumcolmn .diagrm{
    height: 250px;
  }
}
@media screen and (min-height:701),screen and (max-height: 1000px) {
  #breakdb threesumcolmn .diagrm{
    height:300px;
  }
  #riskdb .threesumcolmn .diagrm{
    height:300px;
  }
}
@media screen and (max-height: 700px) {
  #breakdb  .threesumcolmn .diagrm{
    height:230px;
  }
  #riskdb  .threesumcolmn .diagrm{
    height:230px;
  }
}
*/


.chartpadding{
  padding: 8px;
}
.card-title strong{
  font-weight: 500;
}

.indic{
  text-align: center;
  padding: 10px;
}

/* .chartlineheight{
  min-height: 350px !important;
    height: 350px !important;
} */



.threechart {
  width: 33.33%;
}
.fourchart {
  width: 25%;
}
#analysis {
  /*margin: auto;*/
  /*margin-top: 10px;*/
  height: calc(100vh - 36px) !important;
  width: 100% !important;
}
#analysis iframe {
  height: 100%;
  border-radius: 5px;
  width: 100%;
}
@media(max-width: 1200px) {
  .threechart {
    width: 50%;
  }
  .fourchart {
    width: 50%;
  }
}

#riskdb .back{
	transform: rotateY(-180deg);
}
#riskdb .flip .card-title {
  transform: rotateY(-180deg);
  z-index: 99999;
}
.lds-ellipsis circle{
  fill: var(--loadiconcolor) !important;
}
#launch-btn .lds-ellipsis circle{
  fill: #fff !important;
}

#riskdb {
  overflow-y: auto;
    height: 82vh;
    overflow-x: hidden;
    padding: 15px 10px 0px 10px;
}
.risk-break-single{
  cursor: pointer;
}

#ownerselectmodal .content p {
  margin-bottom: 0.7rem;
}

#ownerselectmodal .content input {
  padding: 6px 10px !important;
}
#metrics {
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 63px);

}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 570px;
}
}
#ownerselectmodal .chosen-container{
  min-width: 210px !important;
}
.lengthmilesinput .form-control {
  height: calc(2rem + 2px);
}
.ownerselectpanel {
  max-width: 183px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .risk-break-switch span,.risk-break-switch a {
  font-weight: 600 !important;
}
.attrtext {
  font-weight: 600 !important;
  font-size: 12.5px !important;
}


.d3plus_data {
    stroke: var(--chartsfillcolor);
    stroke-width: 1;
    fill: var(--chartsfillcolor);

}
.d3plus_label {
    fill: var(--chartslabelcolor);

}
.maintreechart {
  fill: var(--header_color);
}